VITE_APPWRITE_URL=""
VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_COLLECTION_ID=""
VITE_APPWRITE_BUCKET_ID=""
VITE_TINYMCE_API_KEY=""


// create a project in appwrite and enter appwrite project id in VITE_APPWRITE_PROJECT_ID
// and all other required ids in their respective fields above. You can get the ids from the appwrite console after creating the project, database, collection, and bucket.


// and lastly, you can get the tinymce api key from https://www.tiny.cloud/ and enter it in VITE_TINYMCE_API_KEY
// and why you done this then rename this file to .env and run the project using npm run dev or yarn dev
